body, html {
  src: url('../assets/HU The Game.ttf');
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.background-container {
  height: 100%;
  background-image: url('../assets/Login.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.reg-container {
  height: 100%;
  background-image: url('../assets/register.png');
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo {
  position: absolute;
  top: 50px;
  left: 412px;
  width: 246px;
  height: 91px;
}

.input-container {
  position: absolute;
  display: flex;
  align-items: center;
}

.username-container {
  top: 200px;
  left: 310px;
}

.password-container {
  top: 290px;
  left: 310px;
}

/* xx */

.usereg-container {
  top: 200px;
  left: 310px;
}

.emailreg-container {
  top: 290px;
  left: 310px;
}

.passwordreg-container {
  top: 390px;
  left: 310px;
}

.password2-container {
  top: 490px;
  left: 310px;
}

.label {
  position: absolute;
  width: 100%;
}

.input-field {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 2px 82px 0 82px;
  width: 100%;
  z-index: 1;
  font-family: Arial, sans-serif;
}

.input-field::placeholder {
  color: #000;
  font-weight: bold;
}

.get-container {
  position: absolute;
  width: 400px;
  height: 70px;
  top: 450px;
  left: 310px;
  cursor: pointer;
}

.getreg-container {
  position: absolute;
  width: 400px;
  height: 70px;
  top: 580px;
  left: 310px;
  cursor: pointer;
}

.button {
  top: 500px;
  left: 310px;
  width: 100%;
  height: 100%;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'HU The Game', Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  z-index: 2;
  pointer-events: none;
}

.register-link {
  left: 310px;
  color: #19B5FE;
  text-decoration: none;
  font-size: 13;
}

.register-link:hover {
  text-decoration: underline;
  font-size: 13;
}

.link h3 {
  left: 310px;
  color: white;
  font-weight: normal;
}

.register-link {
  color: #19B5FE;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}
